<div>
    <ul id="cases">

    </ul>
</div>


<script>
    var uri = '/api/Case';

    $(document).ready(function () {
        // Send an AJAX request
        $.getJSON(uri)
            .done(function (data) {
                // On success, 'data' contains a list of products.
                $.each(data, function (key, item) {
                    // Add a list item for the product.
                    $('<li>', { text: formatItem(item) }).appendTo($('#cases'));
                });
            });
    });

    function formatItem(item) {
        return item.UserNewName + ': at ' + item.CreatedDate;
    }

</script>